<!-- front-page-2 -->
<div class="injustice">
	<div data-icon="calendar-check">
		No more missed production deadlines, low quality injection molds that lead to poor products, or costs that pile up long term.
	</div>
	<div data-icon="handshake">
		You need to get your high quality injection molded parts for a reasonable cost, and find a partner you can count on to help you get to market on time with a better ROI.
	</div>
	<div data-icon="award">
		With 27 years of industry experience, and hundreds of successful projects in our portfolio, we are the first and last partner you’ll need.
	</div>
	<div data-icon="piggy-bank">
		One of the greatest barriers to injection molding is the high price of the mold itself. That’s why we offer free molds for high volume projects.
	</div>
</div>
<button class="request-a-quote">REQUEST A QUOTE</button>

<!-- front-page-3 -->
<div class="howto-steps">
	<div>
		<div>STEP 1</div>
		<div>GET YOUR QUOTE</div>
		<ul>
			<li>Register for an account and request a quote.</li>
			<li>Provide the details and specifications for your project.</li>
			<li>Receive a detailed quote in about one business day.</li>
		</ul>
	</div>
	<div>
		<div>STEP 2</div>
		<div>PLACE YOUR ORDER</div>
		<ul>
			<li>Use your quote to finalize the details.</li>
			<li>Submit your total order.</li>
			<li>Our team will get to work on your project.</li>
		</ul>
	</div>
	<div>
		<div>STEP 3</div>
		<div>GET YOUR PARTS</div>
		<ul>
			<li>Your order will be delivered on time and at the quality you expect.</li>
			<li>We’ll keep your molds for you.</li>
			<li>Order more parts whenever you need them.</li>
		</ul>
	</div>
</div>
<button class="request-a-quote">REQUEST A QUOTE</button>


<!-- footer -->
<div>
	<p class="copyright">
	[footer_copyright] RapidMolding
	</p>   
	<strong>Phone</strong>   
	<a href="tel:+13305950000">+1 (330) 595-0000</a>   
	<strong>Fax</strong>   
	<a href="tel:+13305950005">+1 (330) 595-0005</a>   
</div>
<div>
	<strong>Address</strong>   
	<a href="https://goo.gl/maps/9FoBnkx8BrAwgGNW6">
	HQ/Plant 1   
	9107 Pleasantwood Ave NW   
	North Canton, OH 44720
	</a>
</div>
