
.chart-tooltip {
	min-width: 184px;
	background-color: $green-dark;
	color: $black;
	border-radius: $radius;
	padding: 28px;
	text-align: center;
	font-weight: bold;

	> div {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		margin-bottom: 24px;
		&:last-of-type {
			margin-bottom: 0;
		}

		.vendor-name {
			font-size: 14px;
			text-transform: uppercase;
		}

		svg { display: none; }

		&.hometeam { 
			.value {
				color: white;
			}

			svg {
				display: initial;
			}
		}
	}
}
