
.description {
	text-align: left;

	.data-heading {
		margin-bottom: $data-heading-margin-bottom;
	}

	.description-content {
		column-count: 2;
		column-gap: 24px;

		p {
			line-height: $content-line-height;
			margin-bottom: $content-line-height;

			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
}
