
#stack-up {

	$data-heading-margin-bottom: 12px;
	$purple-mid1: $purple-mid;
	$purple-mid2: #271F34;
	$purple-separator: #48395E;

	.root {
		text-align: left;
		background-color: $purple-mid1;
		border-radius: $radius;
		padding: 54px 60px;
		display: flex;
		flex-direction: column;
	}

	@include fp-subsection-h4;

	h4 {
		text-align: center;
	}

	.data-heading, .vendor thead {
		border-bottom: 1px solid $purple-separator !important;

		> div, th {
			padding: 0 0 20px;
			line-height: 1em;
			font-size: 24px;
			font-weight: bold;
		}
	}

	.study {
		display: grid;
		grid-template-columns: 2fr 1fr;
		gap: 24px;

		> :nth-child(1) {
			flex: 1;
			display: flex;
			flex-direction: column;

			.graph-area {
				background-color: $purple-mid2;
				border-radius: $radius;
				padding: 24px;
				min-height: 464px;
				margin-bottom: 64px;
			}

			@import 'Descriptions';
		}

		> :nth-child(2) {
			@import 'Stats';
		}
	}

	@import 'Chart';
}
