
& {
	background-color: $purple-mid2;
	border-radius: $radius;
	padding: 24px;
}

.vendor {
	margin-bottom: 48px;

	table, thead, tbody, tr, td {
		border: none;
		border-collapse: collapse;
	}

	.vendor-name {
		padding-bottom: 8px;
		font-size: 20px;
		text-transform: uppercase;
		color: #AFAFAF;
	}

	&.hometeam .vendor-name {
		color: $green-light;
	}

	td {
		padding: 0;
		line-height: $content-line-height;
	}

	tbody > tr:nth-child(1) > td {
		font-size: $data-heading-margin-bottom;
		line-height: 1em;
	}
}
