
// style.css:457
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
.site-container div.wpforms-container-full .wpforms-form input[type="submit"],
.site-container div.wpforms-container-full .wpforms-form button[type="submit"],
.widget .button
{
	background-color: $green-light;
	border: 2px solid $green-light;
	color: $black;

	&.secondary {
		border-color: $purple-light;
		background-color: transparent;
		color: $purple-light;
	}
}

// style.css:487
button:focus,
button:hover,
input[type="button"]:focus,
input[type="button"]:hover,
input[type="reset"]:focus,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="submit"]:hover,
.button.clear:focus,
.button.clear:hover,
.button:focus,
.button:hover,
.footer-widgets .widget .button,
.footer-widgets button,
.footer-widgets input[type="button"],
.footer-widgets input[type="reset"],
.footer-widgets input[type="submit"],
.site-container div.wpforms-container-full .wpforms-form input[type="submit"]:focus,
.site-container div.wpforms-container-full .wpforms-form input[type="submit"]:hover,
.site-container div.wpforms-container-full .wpforms-form button[type="submit"]:focus,
.site-container div.wpforms-container-full .wpforms-form button[type="submit"]:hover,
.widget .button.clear:focus,
.widget .button.clear:hover,
.widget .button:focus,
.widget .button:hover,
// style.css:548
.footer-widgets .widget button:focus,
.footer-widgets .widget button:hover,
.footer-widgets .widget input[type="button"]:focus,
.footer-widgets .widget input[type="button"]:hover,
.footer-widgets .widget input[type="reset"]:focus,
.footer-widgets .widget input[type="reset"]:hover,
.footer-widgets .widget input[type="submit"]:focus,
.footer-widgets .widget input[type="submit"]:hover,
.footer-widgets .widget .button:focus,
.footer-widgets .widget .button:hover,
.image-section button:focus,
.image-section button:hover,
.image-section input[type="button"]:focus,
.image-section input[type="button"]:hover,
.image-section input[type="reset"]:focus,
.image-section input[type="reset"]:hover,
.image-section input[type="submit"]:focus,
.image-section input[type="submit"]:hover,
.image-section .widget .button:focus,
.image-section .widget .button:hover
{
	border-color: $green-light;
	background-color: color.scale($green-light, $lightness: 20%);
	color: $black;

	&.secondary {
		border-color: $purple-light;
		background-color: rgba(255,255,255,.04);
		color: color.scale($purple-light, $lightness: 20%);
	}
}
