
@mixin fp-background($color) {
	.solid-section, .image-section {
		background-color: $color;
		color: white;
	}
}

@mixin fp-subsection-h4 {
	h4,
	.widget:first-of-type h4,
	.image-section h4,
	.solid-section h4,
	.solid-section .widget:not(:first-child) .widget-title {
		max-width: 970px;
		margin: 0 auto 30px;
		padding: 0;
		font-size: 38px;
		font-weight: 200;
		letter-spacing: normal;
		line-height: 1;
		text-transform: none;
		border-bottom: none;
	}
}
