
.site-footer {
	background-color: $purple-mid;

	.wrap {
		max-width: $content-max-width;
		display: flex;
		text-transform: uppercase;
		font-size: 14px;

		strong {
			color: $green-light;
		}

		p.copyright {
			display: inline-block;
			color: $green-light;
		}

		> :nth-child(2) {
			flex: 1;
			text-align: right;
		}
	}
}
