
.front-page-2 {
	@include fp-background($purple-dark1);
    @include fp-subsection-h4;

	.injustice {
		max-width: 840px;
		margin: 0 auto 78px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 94px;

		> div {
			text-align: left;

			display: flex;
			flex-direction: row;

			> img {
				height: 61px;
				filter: $purple-light-filter;
				margin-right: 30px;
			}

			> div {
				flex: 1;
			}
		}
	}
}
