
.front-page-3 {
	@include fp-background($purple-dark2);
	@include fp-subsection-h4;

	.howto-steps {
		max-width: $content-max-width;
		margin: 0 auto 51px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 32px;

		> div {
			background-color: $purple-dark1;
			border-radius: $radius;
			padding: 46px 42px 26px;
			text-align: left;

			> :nth-child(1) {
				text-align: center;
				font-size: 20px;
				font-weight: bold;
				color: $green-dark;
			}

			> :nth-child(2) {
				text-align: center;
				font-size: 24px;
				font-weight: bold;
			}

			> ul {
				margin-top: 18px;
				margin-left: 24px;
				
				// https://www.w3schools.com/howto/howto_css_bullet_color.asp
				li::before {
					content: "\2022";
					color: $green-light;
					font-weight: bold;
					display: inline-block;
					width: 24px;
					margin-left: -24px;
				}
			}
		}
	}
}
