
.front-page-4 {
	@include fp-background($purple-dark1);
	@include fp-subsection-h4;

	.wrap {
		text-align: left;
		max-width: $content-max-width;
		display: flex;
		flex-direction: row;
		align-items: center;

		> :nth-child(1) {
			margin-right: 68px;
			width: auto !important;
			img {
				border-radius: $radius;
			}
		}

		> :nth-child(2) {
			width: auto !important;
			flex: 1;
		}
	}

	button.request-a-quote {
		margin-right: 6px;
	}
}
