
.header-image .site-header {
	.site-title > a {
		background-image: url($pub + '/images/rmlogo2021.svg') !important;
		height: 38px !important;
		margin-top: 20px !important;
	}

	&.dark {
		background-color: rgba($purple-dark1, .9);
		.site-title > a {
			margin-top: 8px !important;
		}
	}
}

.site-header {
    button.request-a-quote {
        margin-left: 15px;
        padding: 10px 20px;
    }
}

.featured-section .site-header > .wrap {
	border-bottom-color: $purple-light;
}
