@use "sass:color";

$pub: '/wp-content/themes/altitude-pro/rm2021';
$content-max-width: 1200px;
$content-line-height: 1.5em;  // from theme
$radius: 10px;
$black: #130D1C;
$purple-dark1: #130D1C;
$purple-dark2: #221B2F;
$purple-mid: #2C2439;
$purple-light: #9375BC;
// https://stackoverflow.com/a/53336754
$purple-light-filter: invert(56%) sepia(7%) saturate(3046%) hue-rotate(223deg) brightness(94%) contrast(72%);
$green-dark: #A1CC00;
$green-light: #B4E500;

body {
	font-size: 18px;
}

@import 'components';
@import 'button';

@import 'header';
@import 'footer';

// remove the default gradients over the front page sections
.image-section {
	background: none;
}

// hero
.front-page-1 {
	background-color: $purple-dark1;
	background-image: url($pub + '/images/section1feature.png');
}

@import 'stack-up/stack-up.scss';
@import 'fp2-injustice';
@import 'fp3-howto';
@import 'fp4-about';

.front-page-6 {
	.solid-section {
		background-color: $purple-dark1;
		color: white;
	}
}

